@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", sans-serif;
  background-color: #f8fcff;
}

.mySwiper2 {
  height: 558px;
  width: 100%;
  border-radius: 10px;
}

.mySwiper1 .swiper-wrapper {
  display: flex;
  justify-content: center;
}
.mySwiper1 .swiper-slide {
  margin-top: 10px;
  width: 68px !important;
  height: 68px;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 5px;
  margin-right: 5px;
}

.mySwiper1 .swiper-slide-thumb-active {
  border: 3px solid #015ea8;
}

.mySwiper2 .swiper-button-prev {
  background: rgba(255, 255, 255, 0.5);
  height: 34px;
  width: 34px;
  border-radius: 10px;
  color: #343434;
  margin-left: 30px;
}
.mySwiper2 .swiper-button-prev:after {
  font-size: 17px;
}
.mySwiper2 .swiper-button-next {
  background: rgba(255, 255, 255, 0.5);
  height: 34px;
  width: 34px;
  border-radius: 10px;
  color: #343434;
  margin-right: 30px;
}
.mySwiper2 .swiper-button-next:after {
  font-size: 17px;
}

.mySwiper3 {
  width: 100%;
  height: 100%;
}
.mySwiper3 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper3 .swiper-wrapper .swiper-slide {
  display: block;
  width: 288px !important;
  object-fit: cover;
}

.mySwiper3 .swiper-button-prev {
  background: rgba(255, 255, 255, 0.5);
  height: 34px;
  width: 34px;
  border-radius: 10px;
  color: #343434;
  margin-left: 30px;
  position: absolute;
}
.mySwiper3 .swiper-button-prev:after {
  font-size: 17px;
}
.mySwiper3 .swiper-button-next {
  background: rgba(255, 255, 255, 0.5);
  height: 34px;
  width: 34px;
  border-radius: 10px;
  color: #343434;
  margin-right: 30px;
  position: absolute;
}
.mySwiper3 .swiper-button-next:after {
  font-size: 17px;
}

.bg-shadowcard {
  border-radius: 20px;

  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    168.93deg,
    rgb(244, 248, 255) 20.278%,
    rgb(246, 240, 255) 51.616%,
    rgb(255, 245, 251) 86.886%
  );
}

@media (max-width: 768px) {
  .mySwiper1 {
    display: none !important;
  }
  .mySwiper2 {
    height: max-content;
  }
  .mySwiper2 .swiper-button-prev {
    margin-left: 0px;
  }

  .mySwiper2 .swiper-button-next {
    margin-right: 0px;
  }
}
