@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", sans-serif;
  background-color: #f8fcff;
}

.mySwiper2 {
  height: 558px;
  width: 100%;
  border-radius: 10px;
}

.mySwiper1 .swiper-wrapper {
  display: flex;
  justify-content: center;
}
.mySwiper1 .swiper-slide {
  margin-top: 10px;
  width: 68px !important;
  height: 68px;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 5px;
  margin-right: 5px;
}

.mySwiper1 .swiper-slide-thumb-active {
  border: 3px solid #015ea8;
}

.mySwiper2 .swiper-button-prev {
  background: rgba(255, 255, 255, 0.5);
  height: 34px;
  width: 34px;
  border-radius: 10px;
  color: #343434;
  margin-left: 30px;
}
.mySwiper2 .swiper-button-prev:after {
  font-size: 17px;
}
.mySwiper2 .swiper-button-next {
  background: rgba(255, 255, 255, 0.5);
  height: 34px;
  width: 34px;
  border-radius: 10px;
  color: #343434;
  margin-right: 30px;
}
.mySwiper2 .swiper-button-next:after {
  font-size: 17px;
}

.mySwiper3 {
  width: 100%;
  height: 100%;
}
.mySwiper3 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper3 .swiper-wrapper .swiper-slide {
  display: block;
  width: 288px !important;
  object-fit: cover;
}

.mySwiper3 .swiper-button-prev {
  background: rgba(255, 255, 255, 0.5);
  height: 34px;
  width: 34px;
  border-radius: 10px;
  color: #343434;
  margin-left: 30px;
  position: absolute;
}
.mySwiper3 .swiper-button-prev:after {
  font-size: 17px;
}
.mySwiper3 .swiper-button-next {
  background: rgba(255, 255, 255, 0.5);
  height: 34px;
  width: 34px;
  border-radius: 10px;
  color: #343434;
  margin-right: 30px;
  position: absolute;
}
.mySwiper3 .swiper-button-next:after {
  font-size: 17px;
}

.bg-shadowcard {
  border-radius: 20px;

  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    168.93deg,
    rgb(244, 248, 255) 20.278%,
    rgb(246, 240, 255) 51.616%,
    rgb(255, 245, 251) 86.886%
  );
}

@media (max-width: 768px) {
  .mySwiper1 {
    display: none !important;
  }
  .mySwiper2 {
    height: max-content;
  }
  .mySwiper2 .swiper-button-prev {
    margin-left: 0px;
  }

  .mySwiper2 .swiper-button-next {
    margin-right: 0px;
  }
}

.category_scroll::-webkit-scrollbar {
  width: 0;
  background: transparent; /* For WebKit browsers */
}

.category_scroll {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}
.parent_loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
/* Loader.css */
.loader {
  width: max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-hidden {
  display: none;
}

.loader-active {
  display: flex; /* Loader ko'rsatish uchun */
  height: 400px;
}

@keyframes ball-grid-beat {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes ball-grid-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.ball-grid-pulse {
  width: calc(15px * 3 + 2px * 6); /* $ball-size * 3 + $margin * 6 */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust to center items */
}

.ball-grid-pulse > div {
  background-color: #015ea8; /* $primary-color */
  width: 15px; /* $ball-size */
  height: 15px; /* $ball-size */
  border-radius: 100%;
  margin: 2px; /* $margin */
  animation-name: ball-grid-pulse;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-delay: 0; /* This will be overridden by specific animation delays */
  animation-duration: 0.6s; /* This will be overridden by specific animation durations */
}

/* Generating the specific styles for each child */
.ball-grid-pulse > div:nth-child(1) {
  animation-delay: 0.3s; /* Random value example */
  animation-duration: 1s; /* Random value example */
}

.ball-grid-pulse > div:nth-child(2) {
  animation-delay: 0.2s; /* Random value example */
  animation-duration: 0.9s; /* Random value example */
}

/* Add similar styles for other child divs with random delays and durations */

.ball-grid-beat div {
  width: 1rem;
  height: 1rem;
  background-color: #333;
  border-radius: 50%;
  animation: ball-grid-beat 1.4s infinite ease-in-out;
}

.ball-grid-beat {
  width: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
